@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

a{
    text-decoration: none;
    color: #212121;
    font-size: 14px;
}

.top-container{
    background: #fff;
    border-radius: 0 0 30px 30px;
    padding-bottom: 10px;
}

.top-container .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 14px;
}

.top-container .nav .left-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.top-container .nav .logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.top-container .nav .logo i{
    color: #212121;
    font-size: 24px;
}

.top-container .nav .logo a{
    font-size: 16px;
}

.top-container .nav .nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.top-container .nav .nav-links a{
    color: #212121;
    transition: all 0.3s ease;
}

.top-container .nav .nav-links a:hover{
    color: #545b7b;
}

.top-container .nav .profile{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #111;
    padding: 5px 20px;
    gap: 10px;
}

.top-container .nav .profile:hover{
    background: #545b7b;
}

.top-container .nav .profile a{
    color: #fff;
}

body{
    background-color: #545b7b;
    height:100%;
}

body h2{
    margin: 20px 0 8px 30px;
    color: #212121;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height:100%;
}

.box-column{
    margin-top: 15px;
    width: 320px;
}

.box-header{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 10px;
    margin: 15px 5px;
}

.box-header span{
    margin-left: 5px;
    background-color: #fff;
    padding: 3px 6px;
    border-radius: 3px;
    color: #111;
    font-weight: bold;
}

.box-header i{
    margin-right: 5px;
    color: #fff;
    cursor: pointer;
}

.box{
    background-color: #fff;
    padding: 7px 20px;
    border-radius: 18px;
    height: 142px;
    cursor: pointer;
    margin: 15px 5px;
    transition: all 0.2s;
}

.box:hover{
    transform: translateY(-3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
}

.box p{
    margin: 2px 0 15px;
    font-size: 14px;
    font-weight: 400;
}

.tag{
    padding: 5px 8px;
    font-size: 13px;
    font-weight: bold;
    background-color: #111;
    color: #fff;
    line-height: 50px;
    border-radius: 4px;
}

#psy{
    background-color: #be34d3;
}

#cmn{
    background-color: #098a7b;
}

#csi{
    background-color: #152d8d;
}

#adm{
    background-color: #b50909;
}

.box-footer{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #757575;
}

.comment{
    display: flex;
    align-items: center;
}

.box-footer i{
    margin-right: 5px;
}

.date{
    display: flex;
    align-items:center;
}

footer{
    background: #fff;
    border-radius: 30px 30px 0 0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

footer .links{
    display: flex;
    gap: 10px;
}

footer .links i{
    font-size: 30px;
}

@media screen and (max-width: 768px){
    .top-container .nav{
        flex-direction: column;
        gap: 15px;
    }

    .footer .footer-content{
        flex-direction: column;
        gap: 15px;
    }
}